<div class="mx-auto max-w-[1350px] px-5 mt-20">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
    <div class="col-span-1 bg-[#F8F8F8] border border-solid border-[#DCDCDC] p-6 flex flex-col justify-center items-center rounded-md">
      <div class="rounded-full w-14 h-14 flex items-center justify-center bg-white">
         <img alt="piggy bank" class="object-contain hs-id-fb3ac5c2 hs-lazyload" height="40" loading="lazy" src="{{ section.settings.image_usp_one | img_url: 'master' }}" width="40"/>
      </div>
      <div class="text-center mt-5">
        <h4 class="font-bold text-lg">{{ section.settings.usp_one_title }}</h4>
        <p>{{ section.settings.usp_one }}</p>
      </div>
    </div>
    <div class="col-span-1 bg-[#F8F8F8] border border-solid border-[#DCDCDC] p-6 flex flex-col justify-center items-center rounded-md">
      <div class="rounded-full w-14 h-14 flex items-center justify-center bg-white">
         <img alt="lighting bolt" class="object-contain hs-id-b3b32fc2 hs-lazyload" height="40" loading="lazy" src="{{ section.settings.image_usp_two | img_url: 'master' }}" width="40"/>
      </div>
      <div class="text-center mt-5">
        <h4 class="font-bold text-lg">{{ section.settings.usp_two_title }}</h4>
        <p>{{ section.settings.usp_two }}</p>
      </div>
    </div>
    <div class="col-span-1 bg-[#F8F8F8] border border-solid border-[#DCDCDC] p-6 flex flex-col justify-center items-center rounded-md">
      <div class="rounded-full w-14 h-14 flex items-center justify-center bg-white">
         <img alt="solar cable" class="object-contain hs-id-9ac09f70 hs-lazyload" height="40" loading="lazy" src="{{ section.settings.image_usp_three | img_url: 'master' }}" width="40"/>
      </div>
      <div class="text-center mt-5">
        <h4 class="font-bold text-lg">{{ section.settings.usp_three_title }}</h4>
        <p>{{ section.settings.usp_three }}</p>
      </div>
    </div>
  </div>
</div>