<div class="max-w-[1440px] my-10 px-5 mx-auto">
<div class="grid xl:h-[500px] h-full grid-cols-2 md:grid-cols-3 xl:grid-cols-5 xl:grid-rows-4 gap-4">
    <div class="col-span-full hidden xl:block xl:col-span-2 p-10 h-auto xl:h-[500px] xl:row-span-4 overflow-hidden rounded-md relative">
      <span class="absolute z-20 inset-0 w-full h-full bg-[linear-gradient(180deg,_#30353E_44.5%,_rgba(115,_115,_115,_0.00)100%)]"></span>
      <img class="object-cover w-full h-full absolute inset-0 hs-id-b49a830e hs-lazyload" height="500" loading="lazy" src="{{ section.settings.left_image | img_url: 'master' }}" width="500"/>
      <div class="flex flex-col justify-center absolute pr-10 z-30">
        {% if section.settings.video %}
          <a target="_blank" class="inline-flex text-white items-center gap-3" href="{{ section.settings.video }}">
            <img class="hs-id-5a0d7559 hs-lazyload" height="30" loading="lazy" src="{{ 'play-icon.png' | asset_img_url: 'master' }}" width="30"/>
            Watch Video
          </a>
        {% endif %}
        <h2 class="text-white text-colour-change font-bold mt-5 text-4xl">{{ section.settings.left_title }}</h2>
        <p class="text-white leading-10 mt-5">{{ section.settings.left_text }}</p>
      </div>
    </div>
    {% for block in section.blocks %}
      <div class="col-span-1 h-[180px] lg:h-[250px] xl:col-span-1 rounded-md flex overflow-hidden relative xl:row-span-2 xl:h-full w-full bg-gray-200">
        <img class="object-cover w-full h-full absolute inset-0 hs-id-39ceb22e hs-lazyload" height="500" loading="lazy" src="{{ block.settings.box_image | img_url: 'master' }}" width="500"/>
        <div class="absolute inset-0 w-full h-full flex items-end justify-center">
          <a class="inline-block xl:mb-5 text-center w-full xl:w-auto font-medium px-1 xl:px-8 py-2 text-white xl:rounded-md bg-[#93936b]" href="{{ block.settings.box_url }}">{{ block.settings.box_title }}</a>
        </div>
      </div>
    {% endfor %}
</div>
</div>