{% if template contains 'product' %}
<div class="my-10">
  <div class="bg-[#212936] overflow-hidden relative">
    <div class="max-w-[1350px] mx-auto">
      <div class="p-10 flex flex-col lg:flex-row justify-between items-center">
      <div class="lg:w-96 w-full">
        <h2 class="text-white text-3xl font-bold mb-5">Go Solar Now, Pay Later</h2>
        <p class="text-[#D1D1D1] text-base">
          At ShopSolar you, we offer a wide variety of payment plan options to meet each customer's needs.
        </p>
      </div>
      <div class="flex flex-col lg:flex-row items-start w-full lg:w-auto mt-5 lg:m-0 lg:items-center gap-5">
        <img alt="affirm logo" class="rounded-md w-40 hs-id-9a90353e" height="100" loading="lazy" src="{{ 'affirm-whiteout.jpg' | asset_img_url: 'master' }}" width="500"/>
        <img alt="paytomorrow logo" class="rounded-md w-40 hs-id-19d178a3" height="100" loading="lazy" src="{{ 'pay-whiteout.jpg' | asset_img_url: 'master' }}" width="500"/>
      </div>
    </div>
    </div>
    <div class="bg-[#F7F7F7] p-10">
    <div class="max-w-[1350px] mx-auto">
                
      <div class="flex justify-start mb-8 md:last:mb-0 md:pr-12 lg:mb-14 lg:last:mb-0">
        <div class="w-16 mr-8 flex-shrink-0 md:w-16 lg:w-22">
          <img alt="form icon" class="h-20 w-20 object-contain hs-id-d56f41da" height="100" loading="lazy" src="{{ 'app-form.png' | asset_img_url: 'master' }}" width="100"/>
        </div>
        <div class="mt-[10px]">
          <h3 class="text-base text-black-100 mb-3 md:font-bold lg:text-xl" wz-last-el-ref="true">
            Quick and Easy Application
          </h3>
          <p class="text-sm text-[#767676] lg:text-base lg:max-w-sm">
            Fill out a short application and we will match you with multiple payment plan options instantly - Survey at checkout!
          </p>
        </div>
      </div>
      <div class="flex justify-start mb-8 md:last:mb-0 md:pr-12 lg:mb-14 lg:last:mb-0">
        <div class="w-16 mr-8 flex-shrink-0 md:w-16 lg:w-22">
          <img alt="cheque icon" class="h-20 w-20 object-contain hs-id-38411760" height="100" loading="lazy" src="{{ 'cheque.png' | asset_img_url: 'master' }}" width="100"/>
        </div>
        <div class="mt-[10px]">
          <h3 class="text-base text-black-100 mb-3 md:font-bold lg:text-xl" wz-last-el-ref="true">
            Poor Credit or No Credit?
          </h3>
          <p class="text-sm text-[#767676] lg:text-base lg:max-w-sm">
            Don’t sweat it. We welcome all credit scores and having a credit score is not required for approval.
          </p>
        </div>
      </div>
      <div class="flex justify-start mb-8 md:last:mb-0 md:pr-12 lg:mb-14 lg:last:mb-0">
        <div class="w-16 mr-8 flex-shrink-0 md:w-16 lg:w-22">
          <img alt="money icon" class="h-20 w-20 object-contain hs-id-94dcebeb" height="100" loading="lazy" src="{{ 'fees.png' | asset_img_url: 'master' }}" width="100"/>
        </div>
        <div class="mt-[10px]">
          <h3 class="text-base text-black-100 mb-3 md:font-bold lg:text-xl" wz-last-el-ref="true">
            No Money Down Today
          </h3>
          <p class="text-sm text-[#767676] lg:text-base lg:max-w-sm">
            Some payment plans offer as little as no money down, if you qualify.*` - Survey at checkout!
          </p>
        </div>
      </div>
      <img alt="solar house cutout" class="absolute bottom-0 xl:right-0 lg:right-[-100px] lg:block hidden hs-id-00a5c654" height="500" loading="lazy" src="{{ 'solar-house-cutout.png' | asset_img_url: 'master' }}" width="500"/>
    </div>
    </div>


  </div>
</div>
  {% else %}
  <div class="max-w-[1440px] mx-auto px-5 lg:px-0 my-10">
  <div class="bg-[#212936] overflow-hidden relative rounded-md">
    <div class="p-10 flex flex-col lg:flex-row justify-between items-center">
      <div class="lg:w-96 w-full">
        <h2 class="text-white text-3xl font-bold mb-5">Go Solar Now, Pay Later</h2>
        <p class="text-[#D1D1D1] text-base">
          At ShopSolar, we offer a wide variety of payment plan options to meet each customer's needs.
        </p>
      </div>
      <div class="flex flex-col lg:flex-row items-start w-full lg:w-auto mt-5 lg:m-0 lg:items-center gap-5">
        <img class="rounded-md w-40 hs-id-754fc0e2" height="100" loading="lazy" src="{{ 'affirm-whiteout.jpg' | asset_img_url: 'master' }}" width="500"/>
        <img class="rounded-md w-40 hs-id-96f7562f hs-lazyload" height="100" loading="lazy" src="{{ 'pay-whiteout.jpg' | asset_img_url: 'master' }}" width="500"/>
      </div>
    </div>
    <div class="bg-[#F7F7F7] p-10">
      <div class="flex justify-start mb-8 md:last:mb-0 md:pr-12 lg:mb-14 lg:last:mb-0">
        <div class="w-16 mr-8 flex-shrink-0 md:w-16 lg:w-22">
          <img class="h-20 w-20 object-contain hs-id-8b082c50" height="100" loading="lazy" src="{{ 'app-form.png' | asset_img_url: 'master' }}" width="100"/>
        </div>
        <div class="mt-[10px]">
          <h3 class="text-base text-black-100 mb-3 md:font-bold lg:text-xl" wz-last-el-ref="true">
            Quick and Easy Application
          </h3>
          <p class="text-sm text-[#767676] lg:text-base lg:max-w-sm">
            Fill out a short application and we will match you with multiple payment plan options instantly
          </p>
        </div>
      </div>
      <div class="flex justify-start mb-8 md:last:mb-0 md:pr-12 lg:mb-14 lg:last:mb-0">
        <div class="w-16 mr-8 flex-shrink-0 md:w-16 lg:w-22">
          <img class="h-20 w-20 object-contain hs-id-b442da91" height="100" loading="lazy" src="{{ 'cheque.png' | asset_img_url: 'master' }}" width="100"/>
        </div>
        <div class="mt-[10px]">
          <h3 class="text-base text-black-100 mb-3 md:font-bold lg:text-xl" wz-last-el-ref="true">
            Poor Credit or No Credit?
          </h3>
          <p class="text-sm text-[#767676] lg:text-base lg:max-w-sm">
            Don’t sweat it. We welcome all credit scores and having a credit score is not required for approval.
          </p>
        </div>
      </div>
      <div class="flex justify-start mb-8 md:last:mb-0 md:pr-12 lg:mb-14 lg:last:mb-0">
        <div class="w-16 mr-8 flex-shrink-0 md:w-16 lg:w-22">
          <img class="h-20 w-20 object-contain hs-id-e459aa08" height="100" loading="lazy" src="{{ 'fees.png' | asset_img_url: 'master' }}" width="100"/>
        </div>
        <div class="mt-[10px]">
          <h3 class="text-base text-black-100 mb-3 md:font-bold lg:text-xl" wz-last-el-ref="true">
            No Money Down Today
          </h3>
          <p class="text-sm text-[#767676] lg:text-base lg:max-w-sm">
            Some payment plans offer as little as no money down, if you qualify.*`
          </p>
        </div>
      </div>
      <img class="absolute bottom-0 xl:right-0 lg:right-[-100px] lg:block hidden hs-id-3ae408f3" height="500" loading="lazy" src="{{ 'solar-house-cutout.png' | asset_img_url: 'master' }}" width="500"/>
    </div>
  </div>
</div>
{% endif %}

