<div class="mx-auto max-w-[1440px] px-10 md:px-0 mt-20">
  <div class="w-full text-center">
    <h2 class="text-3xl text-black font-bold">{{ section.settings['upsell-title'] }}</h2>
  </div>
  <div class="grid mt-10 grid-cols-1 md:grid-cols-4 gap-10">
    <div class="col-span-1 bg-[#F7F7F7] p-6 rounded-md h-auto w-full">
      <img class="object-cover w-full h-52 rounded-md hs-id-f6fc80e8 hs-lazyload" loading="lazy" src="{{ section.settings.image-upsell-1 | img_url: 'master' }}"/>
      <div class="mt-8">
        <h4 class="font-bold mb-2">{{ section.settings['box-title-upsell-1'] }}</h4>
        <p class="text-[#424242]">{{ section.settings['box-body-upsell-1'] }}</p>
      </div>
    </div>
    <div class="col-span-1 bg-[#F7F7F7] p-6 rounded-md h-auto w-full">
      <img class="object-cover w-full h-52 rounded-md hs-id-5e9008e2 hs-lazyload" loading="lazy" src="{{ section.settings.image-upsell-2 | img_url: 'master' }}"/>
      <div class="mt-8">
        <h4 class="font-bold mb-2">{{ section.settings['box-title-upsell-2'] }}</h4>
        <p class="text-[#424242]">{{ section.settings['box-body-upsell-2'] }}</p>
      </div>
    </div>
    <div class="col-span-1 bg-[#F7F7F7] p-6 rounded-md h-auto w-full">
      <img class="object-cover w-full h-52 rounded-md hs-id-9f8b327b hs-lazyload" loading="lazy" src="{{ section.settings.image-upsell-3 | img_url: 'master' }}"/>
      <div class="mt-8">
        <h4 class="font-bold mb-2">{{ section.settings['box-title-upsell-3'] }}</h4>
        <p class="text-[#424242]">{{ section.settings['box-body-upsell-3'] }}</p>
      </div>
    </div>
    <div class="col-span-1 bg-[#F7F7F7] p-6 rounded-md h-auto w-full">
      <img class="object-cover w-full h-52 rounded-md hs-id-821fa3e5 hs-lazyload" loading="lazy" src="{{ section.settings.image-upsell-4 | img_url: 'master' }}"/>
      <div class="mt-8">
        <h4 class="font-bold mb-2">{{ section.settings['box-title-upsell-4'] }}</h4>
        <p class="text-[#424242]">{{ section.settings['box-body-upsell-4'] }}</p>
      </div>
    </div>
  </div>
  <div class="flex items-center mt-10 w-full justify-center">
    <a
      class="text-white hover:scale-105 mx-auto text-center duration-200 mt-8 font-bold inline-block px-10 py-3 text-center bg-[#93936b] rounded-md"
      href="https://024wwq6ojms.typeform.com/to/F24PjymZ"
      >Start Your Free Proposal</a
    >
  </div>
</div>