<style>
  [x-cloak] {
    display: none!important;
  }
</style>

<div class="bg-[#F7F7F7] lg:grid-cols-4 p-5 lg:p-8 grid grid-cols-1 xl:grid-cols-3 gap-5 lg:gap-10 h-auto w-full">
    <div class="xl:col-span-1 lg:col-span-full flex flex-col justify-between bg-[#212936] rounded-3xl overflow-hidden">
        <div class="lg:p-10 p-5">
            <h1 class="text-4xl mb-4 font-bold text-[#F0942D]">{{ section.settings.main_heading }}</h1>
            <h3 class="text-2xl lg:text-3xl font-medium leading-10 text-white">Whether you're hands-on or hands-free, <span class="text-[#F0942D]">energy independence</span> starts here.</h3>
        </div>
        <div class="h-1/2">
            {% if section.settings.hero_image %}
                <img alt="{{ section.settings.main_heading }}" class="w-full h-full object-cover hs-lazyload hs-id-e3d78bef" decoding="async" height="600" loading="lazy" src="{{ section.settings.hero_image | image_url: width: 1000 }}" width="1000"/>
            {% endif %}
        </div>
    </div>
    <div class="xl:col-span-1 lg:col-span-2 p-5 lg:p-10 flex flex-col bg-white rounded-3xl overflow-hidden">
        <div class="bg-[#F7F7F7] relative rounded-[10px] text-black p-5">
            <h3>{{ section.settings.diy_heading }}</h3>
            <p class="text-[#404040] text-base mt-2">{{ section.settings.diy_description }}</p>
            <div class="w-16 bottom-[-20px] left-[40px] absolute z-10 overflow-hidden inline-block">
                <div class="h-5 w-5 rounded-sm bg-[#F7F7F7] -rotate-45 transform origin-top-left"></div>
            </div>
        </div>
        {% for i in (1..3) %}
            <div class="mt-{% if forloop.first %}10{% else %}5{% endif %} flex items-center gap-5">
                <div>
                    {% assign icon_setting = 'diy_feature_' | append: i | append: '_icon' %}
                    {% assign title_setting = 'diy_feature_' | append: i | append: '_title' %}
                    {% assign desc_setting = 'diy_feature_' | append: i | append: '_desc' %}
                    {% if section.settings[icon_setting] %}
                        <img alt="{{ section.settings[title_setting] }}" class="w-14 h-14 object-contain hs-lazyload hs-id-e9874a41" decoding="async" height="56" loading="lazy" src="{{ section.settings[icon_setting] | image_url: width: 56 }}" width="56"/>
                    {% endif %}
                </div>
                <div>
                    <p class="text-black mb-[2px] text-base font-medium">{{ section.settings[title_setting] }}</p>
                    <p class="text-[#3F3F3F] text-sm">{{ section.settings[desc_setting] }}</p>
                </div>
            </div>
        {% endfor %}
        <div x-data="{'showModalFirst': false}" class="flex gap-5 flex-col lg:flex-row items-center mt-10 justify-center lg:justify-between">
            <a href="{{ section.settings.diy_cta_link }}" class="bg-[#93936b] flex items-center justify-between font-medium w-full text-white px-5 py-3 rounded-[10px]">{{ section.settings.diy_cta_text }} <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="fill:#ffffff" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg></a>
            <button @click="showModalFirst = true" class="font-medium text-center block underline w-40 text-[#606060] py-3">{{ section.settings.diy_learn_more_text }}</button>
            <span class="bg-black/30 fixed top-0 left-0 w-full h-full z-30" x-cloak x-show="showModalFirst" @click="showModalFirst = false"></span>
            <div class="md:max-w-3xl w-[90%] z-40 fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 px-10 py-10 mx-auto text-left bg-white rounded-lg shadow-lg"
            @click.away="showModalFirst = false"
            x-show="showModalFirst"
            x-cloak
            x-transition:enter="motion-safe:ease-out duration-300"
            x-transition:enter-start="opacity-0 scale-90"
            x-transition:enter-end="opacity-100 scale-100">
                <div class="flex flex-col gap-5">
                    <h3 class="text-2xl font-medium">{{ section.settings.diy_modal_heading }}</h3>
                    <p class="text-[#404040] text-base">{{ section.settings.diy_modal_description }}</p>
                    <div class="flex items-center gap-5 mt-5">
                        <a href="{{ section.settings.diy_cta_link }}" class="bg-[#93936b] flex items-center justify-between font-medium w-40 text-white px-5 py-3 rounded-[10px]">{{ section.settings.diy_cta_text }} <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="fill:#ffffff" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg></a>
                        <button @click="showModalFirst = false" class="font-medium text-center block underline text-[#606060] py-3">Close</button>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="xl:col-span-1 lg:col-span-2 p-5 lg:p-10 flex flex-col bg-white rounded-3xl overflow-hidden">
        <div class="bg-[#F7F7F7] relative rounded-[10px] text-black p-5">
            <h3>{{ section.settings.full_service_heading }}</h3>
            <p class="text-[#404040] text-base mt-2">{{ section.settings.full_service_description }}</p>
            <div class="w-16 bottom-[-20px] left-[40px] absolute z-10 overflow-hidden inline-block">
                <div class="h-5 w-5 rounded-sm bg-[#F7F7F7] -rotate-45 transform origin-top-left"></div>
            </div>
        </div>
        {% for i in (1..3) %}
            <div class="mt-{% if forloop.first %}10{% else %}5{% endif %} flex items-center gap-5">
                <div>
                    {% assign icon_setting = 'full_service_feature_' | append: i | append: '_icon' %}
                    {% assign title_setting = 'full_service_feature_' | append: i | append: '_title' %}
                    {% assign desc_setting = 'full_service_feature_' | append: i | append: '_desc' %}
                    {% if section.settings[icon_setting] %}
                        <img alt="{{ section.settings[title_setting] }}" class="w-14 h-14 object-contain hs-lazyload hs-id-8259288a" decoding="async" height="56" loading="lazy" src="{{ section.settings[icon_setting] | image_url: width: 56 }}" width="56"/>
                    {% endif %}
                </div>
                <div>
                    <p class="text-black mb-[2px] text-base font-medium">{{ section.settings[title_setting] }}</p>
                    <p class="text-[#3F3F3F] text-sm">{{ section.settings[desc_setting] }}</p>
                </div>
            </div>
        {% endfor %}
        <div x-data="{'showModalSecond': false}" class="flex gap-5 flex-col lg:flex-row items-center mt-10 justify-center lg:justify-between">
            <a href="{{ section.settings.full_service_cta_link }}" class="bg-[#93936b] flex items-center justify-between font-medium w-full text-white px-5 py-3 rounded-[10px]">{{ section.settings.full_service_cta_text }} <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="fill:#ffffff" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg></a>
            <button @click="showModalSecond = true" class="font-medium text-center block underline w-40 text-[#606060] py-3">{{ section.settings.full_service_learn_more_text }}</button>
            <span class="bg-black/30 fixed top-0 left-0 w-full h-full z-30" x-cloak x-show="showModalSecond" @click="showModalSecond = false"></span>
            <div class="md:max-w-3xl w-[90%] z-40 fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 px-10 py-10 mx-auto text-left bg-white rounded-lg shadow-lg"
            @click.away="showModalSecond = false"
            x-cloak
            x-show="showModalSecond"
            x-transition:enter="motion-safe:ease-out duration-300"
            x-transition:enter-start="opacity-0 scale-90"
            x-transition:enter-end="opacity-100 scale-100">
                <div class="flex flex-col gap-5">
                    <h3 class="text-2xl font-medium">{{ section.settings.full_service_modal_heading }}</h3>
                    <p class="text-[#404040] text-base">{{ section.settings.full_service_modal_description }}</p>
                    <div class="flex items-center gap-5 mt-5">
                        <a href="{{ section.settings.full_service_cta_link }}" class="bg-[#93936b] flex items-center justify-between font-medium w-40 text-white px-5 py-3 rounded-[10px]">{{ section.settings.full_service_cta_text }} <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="fill:#ffffff" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg></a>
                        <button @click="showModalSecond = false" class="font-medium text-center block underline text-[#606060] py-3">Close</button>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>