<div class="w-full relative h-[480px]">
  <span class="bg-[linear-gradient(0deg,rgba(255,255,255,0.00)0%,rgba(0,0,0,0.66)100%)] h-[480px] absolute inset-0 z-20 w-full hidden"></span>
  <img class="absolute md:block hidden object-cover h-[480px] inset-0 w-full hs-id-fc0c9505 hs-lazyload" height="630" loading="lazy" src="{{ section.settings.hero-image | img_url: 'master' }}" width="2000"/>
  <img class="absolute block md:hidden object-cover h-[480px] inset-0 w-full hs-id-fafb4a74 hs-lazyload" height="630" loading="lazy" src="{{ section.settings.hero-image-mobile | img_url: 'master' }}" width="500"/>
  <div class="z-30 max-w-[1440px] -mt-20 mx-auto px-10 md:px-0 w-full h-[480px] text-left absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 z-10 flex flex-col justify-center items-start">
    <h1 class="text-white text-5xl leading-[4rem] font-bold">
      Finance Your
      <span class="text-[#F0942D]">Solar<br>
        Equipment</span>
      Today!
    </h1>
  </div>
  <div class="absolute md:hidden w-[90%] block left-0 bottom-[50px] z-10">
    <img class="object-contain w-full hs-id-44568e00 hs-lazyload" loading="lazy" src="{{'line-mobile.png' | asset_img_url : 'master'}}"/>
  </div>
  <div class="absolute md:block hidden left-0 bottom-[calc(50%-6rem)] z-10">
    <img class="object-contain w-[59%] hs-id-4e041899 hs-lazyload" loading="lazy" src="{{'line-bar.png' | asset_img_url : 'master'}}"/>
  </div>
</div>

<div class="mx-auto max-w-[1440px] px-10 md:px-0 mt-20">
  <div class="w-full text-center">
    <h2 class="text-3xl text-black font-bold">{{ section.settings['upsell-title'] }}</h2>
    <p class="mt-5">Our payment plans make it easy to get the best system for your needs today.</p>
  </div>
  <div class="grid mt-10 grid-cols-1 md:grid-cols-3 gap-10">
    <div class="col-span-1 bg-[#F7F7F7] p-6 rounded-md h-auto w-full">
      <img class="object-cover w-full h-52 rounded-md hs-id-0ba8d3de hs-lazyload" loading="lazy" src="{{ section.settings.image-upsell-1 | img_url: 'master' }}"/>
      <div class="mt-8">
        <div class="flex mb-4 items-center">
          <span class="flex font-bold items-center justify-center rounded-full shadow-sm w-10 h-10 bg-white">1</span>
          <h4 class="font-bold ml-2">{{ section.settings['box-title-upsell-1'] }}</h4>
        </div>
        <p class="text-[#424242]">{{ section.settings['box-body-upsell-1'] }}</p>
      </div>
    </div>
    <div class="col-span-1 bg-[#F7F7F7] p-6 rounded-md h-auto w-full">
      <img class="object-cover w-full h-52 rounded-md hs-id-1394e6c2 hs-lazyload" loading="lazy" src="{{ section.settings.image-upsell-2 | img_url: 'master' }}"/>
      <div class="mt-8">
        <div class="flex mb-4 items-center">
          <span class="flex font-bold items-center justify-center rounded-full shadow-sm w-10 h-10 bg-white">2</span>
          <h4 class="font-bold ml-2">{{ section.settings['box-title-upsell-2'] }}</h4>
        </div>
        <p class="text-[#424242]">{{ section.settings['box-body-upsell-2'] }}</p>
      </div>
    </div>
    <div class="col-span-1 bg-[#F7F7F7] p-6 rounded-md h-auto w-full">
      <img class="object-cover w-full h-52 rounded-md hs-id-99ae9fdf hs-lazyload" loading="lazy" src="{{ section.settings.image-upsell-3 | img_url: 'master' }}"/>
      <div class="mt-8">
        <div class="flex mb-4 items-center">
          <span class="flex font-bold items-center justify-center rounded-full shadow-sm w-10 h-10 bg-white">3</span>
          <h4 class="font-bold ml-2">{{ section.settings['box-title-upsell-3'] }}</h4>
        </div>
        <p class="text-[#424242]">{{ section.settings['box-body-upsell-3'] }}</p>
      </div>
    </div>
  </div>
  <div class="flex items-center mt-10 w-full justify-center">
    <a class="text-white hover:scale-105 mx-auto text-center duration-200 mt-8 font-bold inline-block px-10 py-3 text-center bg-[#F0942D] rounded-md" href="/">Start Shopping</a>
  </div>
</div>

<div class="w-full h-[25rem] mt-20 py-10 bg-[#212936]">
  <div class="mx-auto max-w-[1440px] px-10 md:px-0 flex flex-col items-center justify-center md:mt-[2rem] w-full text-center">
    <h2 class="text-white text-3xl font-bold">{{ section.settings['compare-title'] }}</h2>
  </div>
</div>
<div class="mx-auto relative shadow-lg grid bg-white -mt-[15rem] divide-y divide-x border-b border-[#C9C9C9] text-center divide-[#C9C9C9] grid-cols-3 max-w-[1140px]">
  <div class="col-span-1"></div>
  <div class="col-span-1 flex items-center justify-center">
    <img class="w-20 h-20 object-contain hs-id-7b3c7e88 hs-lazyload" loading="lazy" src="{{'image 27.png' | asset_img_url : 'master'}}"/>
  </div>
  <div class="col-span-1 flex items-center justify-center">
    <img class="w-32 h-20 object-contain hs-id-f9aabb15 hs-lazyload" loading="lazy" src="{{'image 28.png' | asset_img_url : 'master'}}"/>
  </div>
  <div class="col-span-1 text-lg text-left font-bold py-4 px-5">Loan Amounts</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">Up to $20,000</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">Up to $20,000</div>
  <div class="col-span-1 text-lg text-left font-bold py-4 px-5">Minimum Loan Amount</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">$0</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">$500</div>
  <div class="col-span-1 text-lg text-left font-bold py-4 px-5">Amount Due at Purchase</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">As low as $0</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">As low as $0</div>
  <div class="col-span-1 text-lg text-left font-bold py-4 px-5">Term</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">Up to 36 Months</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">Terms up to 48 Months</div>
  <div class="col-span-1 text-lg text-left font-bold py-4 px-5">Interest Rates</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">0% APR or 10-36% APR</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">0%-29.99%</div>
  <div class="col-span-1 text-lg text-left font-bold py-4 px-5">Fees?</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">None</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">None</div>
  <div class="col-span-1 text-lg text-left font-bold py-4 px-5">Late Charges</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">None</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">None</div>
  <div class="col-span-1 text-lg text-left font-bold py-4 px-5">Approval Time</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">Same day</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">Instant</div>
  <div class="col-span-1 text-lg text-left font-bold py-4 px-5">Application</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">Best for customers who are seeking a loan amount under $20,000, and who plan on paying that loan off within 6, 12 or 36 Months</div>
  <div class="col-span-1 text-lg text-center py-4 px-5">Best for customers of all credit profiles (Prime, Near Prime and Subprime) who are seeking a loan amount under $20,000, and who plan on paying that loan off within 6, 12, 18, 36 and 48 Months</div>
</div>


<div class="grid md:grid-cols-2 grid-cols-1 pt-[10rem] h-auto">
  <div class="col-span-full mx-auto max-w-[1140px] mt-10 px-10 md:mt-0 md:px-0 w-full flex flex-col justify-center">
    <h2 class="text-3xl mb-[5rem] text-center text-black font-bold">How to Purchase a Solar Kit or Components With a Payment Plan</h2>

    <div x-data="{ active: 1 }" class=" min-h-[16rem] space-y-4">
      <div
        x-data="
          {
              id: 1,
              get expanded() {
                  return this.active === this.id
              },
              set expanded(value) {
                  this.active = value ? this.id : null
              },
          }
        "
        role="region"
        class="rounded-md bg-[#F7F7F7]">
        <h2>
          <button
            x-on:click="expanded = !expanded"
            :aria-expanded="expanded"
            class="flex w-full text-left items-center justify-between px-6 py-4 text-xl font-bold">
            <span>What is the best way to get Solar Kits financed?</span>
            <span
              x-show="expanded"
              aria-hidden="true"
              class="ml-4">&minus;</span>
            <span
              x-show="!expanded"
              aria-hidden="true"
              class="ml-4">&plus;</span>
          </button>
        </h2>

        <div x-show="expanded" x-collapse>
          <div class="px-6 pb-4 text-black">
            A payment plan may be the best option for buying a solar kit or components, if you don't have the full amount in one lump sum or if you have concerns about your credit score or credit history. We offer multiple payment options through Affirm and PayTomorrow which you will see on this page. Shop for your solar kit, add it to your cart and then during the checkout process, choose your payment plan..
          </div>
        </div>
      </div>

      <div
        x-data="
          {
              id: 2,
              get expanded() {
                  return this.active === this.id
              },
              set expanded(value) {
                  this.active = value ? this.id : null
              },
          }
        "
        role="region"
        class="rounded-md bg-[#F7F7F7]">
        <h2>
          <button
            x-on:click="expanded = !expanded"
            :aria-expanded="expanded"
            class="flex w-full text-left items-center justify-between px-6 py-4 text-xl font-bold">
            <span>How do Shop Solar’s  payment plans work?</span>
            <span
              x-show="expanded"
              aria-hidden="true"
              class="ml-4">&minus;</span>
            <span
              x-show="!expanded"
              aria-hidden="true"
              class="ml-4">&plus;</span>
          </button>
        </h2>

        <div x-show="expanded" x-collapse>
          <div class="px-6 pb-4 text-black">
            Shop for your solar kit or components and add them to your cart. During the checkout process, you'll see options for paying (cash, credit card, PayTomorrow, Affirm, etc.). Select PayTomorrow or Affirm. One application gets you access to all current payment plans for your new solar equipment at checkout. The terms are laid out, and if you have questions, you can contact the company directly. Payments go directly to PayTomorow or Affirm.
          </div>
        </div>
      </div>

      <div
        x-data="
          {
              id: 3,
              get expanded() {
                  return this.active === this.id
              },
              set expanded(value) {
                  this.active = value ? this.id : null
              },
          }
        "
        role="region"
        class="rounded-md bg-[#F7F7F7]">
        <h2>
          <button
            x-on:click="expanded = !expanded"
            :aria-expanded="expanded"
            class="flex w-full text-left items-center justify-between px-6 py-4 text-xl font-bold">
            <span>Do I need a good credit score to buy wheels or tires on credit?</span>
            <span
              x-show="expanded"
              aria-hidden="true"
              class="ml-4">&minus;</span>
            <span
              x-show="!expanded"
              aria-hidden="true"
              class="ml-4">&plus;</span>
          </button>
        </h2>

        <div x-show="expanded" x-collapse>
          <div class="px-6 pb-4 text-black">
            Not with our partners. They consider many factors in application and regularly approve customers with less than perfect credit history.
          </div>
        </div>
      </div>
      <div
        x-data="
          {
              id: 4,
              get expanded() {
                  return this.active === this.id
              },
              set expanded(value) {
                  this.active = value ? this.id : null
              },
          }
        "
        role="region"
        class="rounded-md bg-[#F7F7F7]">
        <h2>
          <button
            x-on:click="expanded = !expanded"
            :aria-expanded="expanded"
            class="flex text-left w-full items-center justify-between px-6 py-4 text-xl font-bold">
            <span>Who are Affirm & PayTomorrow?</span>
            <span
              x-show="expanded"
              aria-hidden="true"
              class="ml-4">&minus;</span>
            <span
              x-show="!expanded"
              aria-hidden="true"
              class="ml-4">&plus;</span>
          </button>
        </h2>

        <div x-show="expanded" x-collapse>
          <div class="px-6 pb-4 text-black">
            PayTomorrow & Affirm offer financing for customers of all credit types. We've partnered with PayTomorrow to allow more of our customers the opportunity to get approved for financing.
          </div>
        </div>
      </div>
      <div
        x-data="
          {
              id: 5,
              get expanded() {
                  return this.active === this.id
              },
              set expanded(value) {
                  this.active = value ? this.id : null
              },
          }
        "
        role="region"
        class="rounded-md bg-[#F7F7F7]">
        <h2>
          <button
            x-on:click="expanded = !expanded"
            :aria-expanded="expanded"
            class="flex text-left w-full items-center justify-between px-6 py-4 text-xl font-bold">
            <span>Will applying through Affirm or PayTomorrow affect my credit score?</span>
            <span
              x-show="expanded"
              aria-hidden="true"
              class="ml-4">&minus;</span>
            <span
              x-show="!expanded"
              aria-hidden="true"
              class="ml-4">&plus;</span>
          </button>
        </h2>

        <div x-show="expanded" x-collapse>
          <div class="px-6 pb-4 text-black">
            No. Checking out with PayTomorrow will not result in a hard inquiry to your TransUnion report as we use a soft credit pull.
          </div>
        </div>
      </div>
      <div
        x-data="
          {
              id: 6,
              get expanded() {
                  return this.active === this.id
              },
              set expanded(value) {
                  this.active = value ? this.id : null
              },
          }
        "
        role="region"
        class="rounded-md bg-[#F7F7F7]">
        <h2>
          <button
            x-on:click="expanded = !expanded"
            :aria-expanded="expanded"
            class="flex text-left w-full items-center justify-between px-6 py-4 text-xl font-bold">
            <span>How do I make my payments?</span>
            <span
              x-show="expanded"
              aria-hidden="true"
              class="ml-4">&minus;</span>
            <span
              x-show="!expanded"
              aria-hidden="true"
              class="ml-4">&plus;</span>
          </button>
        </h2>

        <div x-show="expanded" x-collapse>
          <div class="px-6 pb-4 text-black">
            Payments will auto draft from the card that is on file from purchase. If for any reason you want to switch your form of payment, please contact PayTomorrow or Affirm directly.
          </div>
        </div>
      </div>
      <div
        x-data="
          {
              id: 7,
              get expanded() {
                  return this.active === this.id
              },
              set expanded(value) {
                  this.active = value ? this.id : null
              },
          }
        "
        role="region"
        class="rounded-md bg-[#F7F7F7]">
        <h2>
          <button
            x-on:click="expanded = !expanded"
            :aria-expanded="expanded"
            class="flex text-left w-full items-center justify-between px-6 py-4 text-xl font-bold">
            <span>Do I need a mobile number to use PayTomorrow?</span>
            <span
              x-show="expanded"
              aria-hidden="true"
              class="ml-4">&minus;</span>
            <span
              x-show="!expanded"
              aria-hidden="true"
              class="ml-4">&plus;</span>
          </button>
        </h2>

        <div x-show="expanded" x-collapse>
          <div class="px-6 pb-4 text-black">
            Yes, you'll need a mobile phone number from the U.S. or U.S. territories. This helps PayTomorrow verify it's really you who is creating your account.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Solar Finance Page",
    "class": "solar-finance-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "hero-image",
        "label": "Choose Hero Image"
      },
      {
        "type": "image_picker",
        "id": "hero-image-mobile",
        "label": "Choose mobile hero image"
      },
      {
        "type": "text",
        "id": "hero-title",
        "label": "Hero Title",
        "default": "Finance Your Solar Equipment Today!"
      },
      {
        "type": "text",
        "id": "upsell-title",
        "label": "Section 2 Title",
        "default": "We Make Going Solar Simple, Transparent & Affordable"
      }, {
        "type": "image_picker",
        "id": "image-upsell-1",
        "label": "Choose Image Upsell 1"
      }, {
        "type": "text",
        "id": "box-title-upsell-1",
        "label": "Box Title 1",
        "default": "Start Your Quote"
      }, {
        "type": "textarea",
        "id": "box-body-upsell-1",
        "label": "Box Body 1",
        "default": "Answer a few simple questions to start your solar journey"
      }, {
        "type": "image_picker",
        "id": "image-upsell-2",
        "label": "Choose Image Upsell 2"
      }, {
        "type": "text",
        "id": "box-title-upsell-2",
        "label": "Box Title 2",
        "default": "Receive a Custom Proposal"
      }, {
        "type": "textarea",
        "id": "box-body-upsell-2",
        "label": "Box Body 2",
        "default": "Our team will provide you with a custom solar solution"
      }, {
        "type": "image_picker",
        "id": "image-upsell-3",
        "label": "Choose Image Upsell 3"
      }, {
        "type": "text",
        "id": "box-title-upsell-3",
        "label": "Box Title 3",
        "default": "Order Online"
      }, {
        "type": "textarea",
        "id": "box-body-upsell-3",
        "label": "Box Body 3",
        "default": "Place your order online. Pay upfront or secure financing fast with low interest rates"
      }, {
        "type": "image_picker",
        "id": "image-upsell-4",
        "label": "Choose Image Upsell 4"
      }, {
        "type": "text",
        "id": "box-title-upsell-4",
        "label": "Box Title 4",
        "default": "Go Solar"
      }, {
        "type": "textarea",
        "id": "box-body-upsell-4",
        "label": "Box Body 4",
        "default": "Install your solar kit with our assistance and enjoy the benefits of going solar!"
      }, {
        "type": "text",
        "id": "compare-title",
        "label": "Compare Title",
        "default": "Why Choose ShopSolar.com"
      }
    ]
  }
{% endschema %}